<nav id="second-navbar" class="navbar navbar-expand-md">
    <div class="navbar-collapse collapse pt-2 pt-md-0" id="navbar2">
        <ul class="w-100 navbar-nav justify-content-center text-center">
            <li class="nav-item">
                <a class="nav-link" routerLink="cosa-sono">Cosa sono</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="cosa-si-puo-fare">Cosa si pu&ograve; fare</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="gratuita-del-progetto">Gratuit&agrave; del progetto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="documentazione">Documentazione</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="notizie">News</a>
            </li>
        </ul>
    </div>
</nav>
