<div class="row align-items-center justify-content-center text-justify" id="outer">
    <h1 class="text-center">Documentazione</h1>
    <div class="col-8 col-lg-8" id="inner">
        <ul>
            <li><a routerLink="/premessa">Premessa al Progetto – BENESSERE</a></li>
            <li><a href="assets/static/Volume1 - PROGRAMMA SOCIALE Reti SES - BENESSERE prioritario.pdf" target="_blank">PROGRAMMA SOCIALE – Comunit&agrave; Reti SES - volume Primo</a></li>
            <li><a href="assets/static/Sintesi1 - Programma sociale Reti SES.pdf" target="_blank">Sintesi del Programma sociale Reti SES</a></li>
            <li><a href="assets/static/Volume2 - PROGETTO COMUNITA' Reti SES.pdf" target="_blank">PROGETTO – Comunit&agrave; Reti SES - volume secondo</a></li>
            <li><a href="assets/static/Sintesi2 - Progetto Comunità Reti SES.pdf" target="_blank">Sintesi del Progetto Comunit&agrave; Reti SES</a></li>
            <li><a href="assets/static/Allegato1 - Statuto Comunità Locali SES.pdf" target="_blank">STATUTO Comunit&agrave; Reti SES – Allegato 1</a></li>
            <li><a href="assets/static/Allegato2 - Esempi di ATTIVITA' RETI SES.pdf" target="_blank">ESEMPI di attivit&agrave; Reti SES – Allegato 2</a></li>
        </ul>
    </div>
</div>
