<div class="row align-items-center justify-content-center text-justify" id="outer">
    <h1 class="text-center">Gratuit&agrave; del progetto</h1>
    <div class="col-lg-9" id="inner" >
        <strong>Non si chiede nulla. <br/>
        <br/>
        Con il Progetto &laquo;Comunit&agrave; Reti SES&raquo; si vuole semplicemente diffondere un 
        contributo di idee e principi comunitari che indirizzano al benessere prioritario dell’uomo. <br/>
        <br/>
        Il progetto &laquo;Comunit&agrave; Reti SES&raquo; &egrave; un sogno, un’oasi di speranza e 
        di bellezza, da cui poter attingere con fiducia alla solidariet&agrave; necessaria per trovare 
        il benessere prioritario e vivere in serenit&agrave;, in pace, nella gioia del cuore e nella 
        felicit&agrave;. <br/>
        <br/>
        Nella societ&agrave; del nostro tempo, fluida e senza valori civili e morali di riferimento, 
        &egrave; importante ricordare le priorit&agrave; della vita e disporre di indicazioni e spunti 
        lavorativi che possano consentire ai nostri giovani di affrontare meglio le difficili sfide del 
        prossimo futuro. <br/>
        <br/>
        Il progetto &egrave; scaricabile gratuitamente dalla sezione "documentazione" presente in questo sito. <br/>
        <br/>
        Ideatore</strong> del Progetto <strong>e autore</strong> dei volumi &egrave; <strong><em>Gaetano
         Saverio Arella</em></strong>, un ingegnere, ricercatore di teologia sociale, sostenitore dei 
        beni comuni, operatore di pace.
    </div>
</div>
