<div class="row align-items-center justify-content-center text-justify" id="outer">
    <h1 class="text-center">Cosa sono</h1>
    <div class="col-lg-9" id="inner" >
        Le <u>Comunit&agrave; Reti SES</u> sono piccole comunit&agrave; locali benevoli di solidariet&agrave; ecosostenibile. <br/>
        <br/>
        <strong>Le Comunit&agrave; Reti SES si propongono di aiutare gli associati a ritrovare amore, fiducia, speranza, rispetto reciproco, per poter vivere nel
        benessere, in pace, in serenit&agrave; e nella felicit&agrave;</strong>, con uno stile di vita sobrio, dignitoso e molto conveniente. <br/>
        <br/>
        In una Comunit&agrave; Rete SES si realizzano e scambiano beni e servizi di elevata qualità, prospettive di lavoro, nuove forme di solidariet&agrave; più
        efficaci e benessere sociale. <br/>
        <br/>
        Nelle Comunit&agrave; Reti SES locali si utilizza la moneta ufficiale <em>(euro)</em> per i pagamenti delle imposte fiscali ed una moneta virtuale SES
        <em>(Solidar)</em>, valida solo nel circuito economico delle Comunit&agrave; Reti SES, per i pagamenti della ricchezza prodotta e scambiata in ambito alle
        Reti SES stesse. Le attivit&agrave; economiche sono effettuate a credito fiduciario reciproco, secondo i principi del programma sociale Reti SES e
        sono regolate da un Mediatore fiduciario Reti SES. <br/>
        <br/>
        <strong>Per raccogliere benessere della Rete SES non occorre realizzare tutti gli aspetti del progetto ma basta realizzarne alcuni</strong> (anche pochi)
        <strong>che gi&agrave; si possono godere di grandi benefici.</strong>
    </div>
</div>
