<div class="row">
    <h1 class="text-center">Progetto</h1>
</div>
<div id="inner" class="row h-100">
    <div id="inner-left" class="col-6 col-md-6">
            <div class="row justify-content-center">
                <strong>SFOGLIA&nbsp;</strong><br/>
                 il volume
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                        <div class="embed-responsive" style="padding-bottom: 141.42%;">
                                <object class="embed-responsive-item" data="assets/static/Volume2 - PROGETTO COMUNITA' Reti SES.pdf" type="application/pdf" internalinstanceid="9" title="">
                                    <p>Your browser isn't supporting embedded pdf files. You can download the file
                                        <a href="assets/static/Volume2 - PROGETTO COMUNITA' Reti SES.pdf">here</a>.</p>
                                </object>
                            </div>
                </div>
            </div>
        </div>

    <div id="inner-center" class="col-4 col-md-4 m-0 p-0">
        <div id="inner-top-row" class="row p-4">
            <div class="col">
                <strong>SCARICA</strong> documentazione <br /><br />
                <a class="button btn btn-default" href="assets/static/Volume2 - PROGETTO COMUNITA' Reti SES.pdf" target="_blank">PROGETTO</a>
                <a class="button btn btn-default" href="assets/static/Allegato1 - Statuto Comunità Locali SES.pdf" target="_blank">Allegato 1 - STATUTO</a>
                <a class="button btn btn-default" href="assets/static/Sintesi2 - Progetto Comunità Reti SES.pdf" target="_blank">SINTESI Progetto</a>
                <a class="button btn btn-default" href="assets/static/Allegato2 - Esempi di ATTIVITA' RETI SES.pdf" target="_blank">Allegato 2 - ESEMPI</a>
            </div>
        </div>
        <div id="inner-bottom-row" class="row">
            <div class="col">
                <strong>VEDI</strong> video <br /><br />
                <a class="video-button btn btn-default btn-circle btn-xl" target="_blank" [href]="news[8].link">9.<br />COMUNIT&Agrave; <br />Reti SES</a>
                <a class="video-button btn btn-default btn-circle btn-xl" target="_blank" [href]="news[9].link">10.<br />Beneficiari <br />Reti SES</a>
                <a class="video-button btn btn-default btn-circle btn-xl" target="_blank" [href]="news[10].link">11.<br />Attivit&agrave; <br />Reti SES</a>
                <br />
                <a class="video-button btn btn-default btn-circle btn-xl" target="_blank" [href]="news[11].link">12.<br /> Sistema <br />Economico <br /> Reti SES</a>
                <a class="video-button btn btn-default btn-circle btn-xl" target="_blank" [href]="news[12].link">13.<br /> Guadagni e <br />Previdenza <br /> Reti SES</a>
                <a class="video-button btn btn-default btn-circle btn-xl" target="_blank" [href]="news[13].link">14.<br />Finanziamenti <br />Reti SES</a>
            </div>
        </div>
    </div>
    <div id="inner-right" class="col-2 col-md-2">
        <strong>VAI</strong> alla sezione
        <div class="row">
            <div class="col-12 col-md-12">
                <app-card-premessa></app-card-premessa>
                <br />
                <app-card-programma-sociale></app-card-programma-sociale>
            </div>
        </div>
    </div>
</div>