@import '../../../assets/styles/globals/exports';

h1 {
    margin: 0;
    padding: 0.2rem;
    width: 100%;
    font-weight: bold;
    font-size: calc(1.1em + 1.1vw);
    color: $blue-primary-color;
    border-bottom: 3px solid $blue-primary-color;
}

#inner {
    font-size: calc(0.4em + 0.5vw);
    #inner-left {
        background-color: lighten($color: $blue-primary-color, $amount: 55%);
        padding: 2em;
        text-align: center;
    }
    #inner-center {
        padding: 2em;
        text-align: center;
        #inner-top-row {
            height: 30%;
            text-align: justify;
            a {
                color: black;
            }
        }
        #inner-bottom-row {
            padding: 4em;
            height: 70%;
            a {
                color: black;
            }
        }
    }
    #inner-right {
        background-color: lighten($color: $blue-primary-color, $amount: 50%);
        padding: 2em;
        text-align: center;
    }
}
