<div class="row">
    <h1 class="text-center">Programma Sociale</h1>
</div>
<div id="inner" class="row h-100">
    <div id="inner-left" class="col-6 col-md-6">
            <div class="row justify-content-center">
                <strong>SFOGLIA&nbsp;</strong><br/>
                 il volume
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                        <div class="embed-responsive" style="padding-bottom: 141.42%;">
                                <object class="embed-responsive-item" data="assets/static/Volume1 - PROGRAMMA SOCIALE Reti SES - BENESSERE prioritario.pdf" type="application/pdf" internalinstanceid="9" title="">
                                    <p>Your browser isn't supporting embedded pdf files. You can download the file
                                        <a href="assets/static/Volume1 - PROGRAMMA SOCIALE Reti SES - BENESSERE prioritario.pdf">here</a>.</p>
                                </object>
                            </div>
                </div>
            </div>
        </div>

    <div id="inner-center" class="col-4 col-md-4 m-0 p-0">
        <div id="inner-top-row" class="row p-4">
            <div class="col">
                <strong>SCARICA</strong> documentazione <br /><br />
                <a class="button btn btn-default" href="assets/static/Volume1 - PROGRAMMA SOCIALE Reti SES - BENESSERE prioritario.pdf" target="_blank">PROGRAMMA SOCIALE</a>
                <a class="button btn btn-default" href="assets/static/Sintesi1 - Programma sociale Reti SES.pdf" target="_blank">SINTESI Programma Sociale</a>
            </div>
        </div>
        <div id="inner-bottom-row" class="row">
            <div class="col">
                
                <strong>VEDI</strong> video <br /><br />
                <a class="video-button btn btn-default btn-circle btn-xl" [href]="news[1].link">2.<br /> Bisogni <br />umani</a>
                <!--
                <a class="video-button btn btn-default btn-circle btn-xl" routerLink="#">3.<br /> Giustizia <br />sociale</a>
                <a class="video-button btn btn-default btn-circle btn-xl" routerLink="#">4.<br /> Solidariet&agrave; <br />&nbsp;</a>
                <a class="video-button btn btn-default btn-circle btn-xl" routerLink="#">5.<br /> Moderazione <br />&nbsp;</a>
                <br />
                <a class="video-button btn btn-default btn-circle btn-xl" routerLink="#">6.<br /> Sostenibilit&agrave; <br />&nbsp;</a>
                <a class="video-button btn btn-default btn-circle btn-xl" routerLink="#">7.<br /> Necessit&agrave; <br />sociali</a>
                <a class="video-button btn btn-default btn-circle btn-xl" routerLink="#">8.<br /> Fiducia <br />Comunitaria</a>
                -->
            </div>
        </div>
    </div>
    <div id="inner-right" class="col-2 col-md-2">
        <strong>VAI</strong> alla sezione
        <div class="row">
            <div class="col-12 col-md-12">
                <app-card-premessa></app-card-premessa>
                <br />
                <app-card-progetto></app-card-progetto>
            </div>
        </div>
    </div>
</div>