<div class="row align-items-center justify-content-center text-justify" id="outer">
    <h1 class="text-center">Cosa si pu&ograve; fare</h1>
    <div class="col-lg-9" id="inner" >
        <strong>Condividere il programma sociale Reti SES</strong>, limitandosi ai bisogni umani prioritari, 
        alle necessit&agrave; sociali fondamentali e ai valori comunitari essenziali per il 
        benessere personale e sociale <em>(solidariet&agrave;, fiducia, rispetto, sostenibilit&agrave;)</em>. <br/>
        <br/>
        Attivarsi per <strong>creare nuove Comunit&agrave; Rete SES</strong>. <br/>
        <br/>
        <strong>Aderire come semplice UTENTE beneficiario</strong> ad una Comunit&agrave; Rete SES gi&agrave; 
        esistente nel comune di residenza. <br/>
        <br/>
        <strong>Avviare microimprese ecosostenibili come OPERATORE ASSOCIATO SES</strong> in attivit&agrave; di 
        necessit&agrave; economiche prioritarie <em>(beni vitali, servizi comunitari, beni e servizi secondari, 
        servizi terziari e avanzati)</em>, secondo i principi del programma sociale Reti SES, in un mercato
        localizzato e riservato di una Comunit&agrave; Reti SES nel proprio comune di residenza. <br/>
        <br/>
        <strong>Lavorare come Lavoratore dipendente associato SES o come Lavoratore autonomo SES</strong> presso 
        un Operatore associato di una Comunit&agrave; Rete SES del comune di residenza. <br/>
        <br/>
        Affidarsi con fiducia e speranza alla solidariet&agrave; bilaterale concordata.
    </div>
</div>